---
layout: default
hero-banner:
  banner-image: '/images/blog-bg-17.jpg'
  banner-position: 2% 40%
  top-text: 
  big-text: Members Area
  description: Welcome to our private members area.
  button-url:
  button-text:
  button-color:
members-content-title: Explore
members-content:
  - title: Ut enim ad minim veniam
    content_html: some content
  - title: Quis nostrud exercitation
    content_html: some content
  - title: Laboris nisi ut aliquip
    content_html: some content
  - title: Commodo consequat 
    content_html: some content
  - title: Duis aute irure dolor in
    content_html: some content
  - title: Reprehenderit in voluptate
    content_html: some content
  - title: Ut enim ad minim veniam
    content_html: some content
seo:
  title: Travel magazine
  description: "your description goes here"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---

<!--------------------------- This is the banner on the top of the page --------------------------->
{% include hero-banner.html %}

<!--------------------------- This is the locked pages for members --------------------------->
<section class="p-5p min-h-80 grid grid-cols-4">
  <div class="cols-span-1 sticky">
    <h3 class="uppercase"> {{ page.members-content-title }} </h3>
    {% for item in page.members-content %}
      <a href="#{{ item.title | slugify }}" class="block"> {{ item.title }} </a>
        {% endfor %}
  </div>

  <div class="col-span-3">
    {% for item in page.members-content %}
    <div id="{{item.title | slugify}}" class="p-5p border-b-2 border-black"> 
      {{ item.content_html }}
    </div>
    {% endfor %}
  </div> 
</section>


    
  