---
layout: default
hero-banner:
  banner-image: '/images/blog-bg-17.jpg'
  banner-position: 2% 40%
  top-text:
  big-text: Members Area
  description: Welcome to our private members area.
  button-url:
  button-text:
  button-color:
sticky-nav-title: Explore
sticky-nav:
  - nav-text: Ut enim ad minim veniam
  - nav-text: Quis nostrud exercitation
  - nav-text: Laboris nisi ut aliquip
  - nav-text: Commodo consequat 
  - nav-text: Duis aute irure dolor in 
  - nav-text: Reprehenderit in voluptate
  - nav-text: Ut enim ad minim veniam 
seo:
  title: Travel magazine
  description: "your description goes here"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---

<!--------------------------- This is the banner on the top of the page --------------------------->
{% include hero-banner.html %}

<!---------------------------  --------------------------->
<section class="p-5p">
  <div class="max-screeen-2xl flex flex-col">
    <div>
      <h3> {{ page.sticky-nav-title }} </h3>
      <nav class="">
        {% for item in page.sticky-nav %}
        <a href="{{ item.url }} " class="block"> {{ item.text }} </a>
        {% endfor %}
      </nav>
    </div>
  </div>
</section>