<!--------------------------- This is for the preview of the blog post on the blog page --------------------------->
<section class="py-5p px-2 bg-stone-200">

    <!------ This is our max width div ------>
    <div class="max-w-screen-2xl">
        <h3 class="text-center uppercase pb-8 text-4xl editable"> Recently on the blog... </h3>
        
        <div class="grid grid-cols-4 gap-3">
        {% for item in site.posts | limit:3  %}
            <div class="{% cycle 'col-span-1','col-span-2' %}">
                <div class="bg-cover bg-center min-h-[20vw]" style="background-image: url('{{ item.featured-image }}');"></div>
                <h4 class="uppercase m-4"> {{ item.title }} </h4>
                <p class="m-4 line-clamp-4"> {{ item.description }} </p>
                <a href="{{ item.url }}" class="uppercase border-b border-black inline-block m-4 mt-0">  Read More </a>  
            </div>
            {% endfor %}
        </div>

    </div>
</section>