<!--------------------------- This is for the preview of the blog post on the blog page --------------------------->
<section class="py-5p px-2 bg-stone-200">
    <!------ This is our max width div ------>
    <div class="max-w-screen-2xl mx-auto">
        <div class="flex justify-between p-2">
            <!-- this is a html icon for a left and right arrow ---> 
            <div class="text-3xl"> &#8249; </div>
            <h3 class="text-center font-serif tracking-wide uppercase pb-8 text-4xl editable"> Recently on the blog... </h3>
            <div class="text-3xl"> &#8250; </div>
        </div>
        
      <div class="grid grid-cols-4 gap-3 mx-auto">
        {% assign featured_posts = site.posts | where: 'featured', true %}
        {% for item in site.posts | limit:3  %}
        <div class="{% cycle 'col-span-1','col-span-2' 'col-span-1' %}">
            <a href="{{ item.url }}" class="block">
                <div class="bg-cover bg-center min-h-[20vw]" style="background-image: url('{{ item.featured-image }}');"></div>
                <h4 class="uppercase m-4 tracking-tight"> {{ item.title }} </h4>
                <p class="m-4 line-clamp-4 tracking-wide max-w-xs"> {{ item.description }} </p>
                <p class="uppercase border-b border-black inline-block m-4 mt-0 tracking-wider">  Read More </p>  
            </a>
        </div>
        {% endfor %}
      </div>
    </div>
</section>