
<section class="p-5p bg-stone-200">

    <!------ This is our max width div ------>
    <div class="max-w-screen-2xl">
        <h3 class="text-center uppercase pb-8 text-4xl editable"> Recently on the blog... </h3>
        
        {% for item in site.posts %}
        <div>
            <div class="bg-cover bg-center" style="background-image: url('{{item.featured_image}}');">
            <h4 class="uppercase"> {{item.title}} </h4>
            <p> {{item.description }} </p>
            <a href="{{item.url}}" class="uppercase border-b border-black mt-2 inline-block">  Read More </a>  
        </div>
        {% endfor %}


    </div>
</section>