<!--------------------------- This is the header banner that goes on all pages --------------------------->
<header>
    <div  class="uppercase flex justify-between max-w-screen-2xl mx-auto p-5">
        <a href="/index.html"> Logo </a>
        <nav class="flex gap-4">
            <a href="/blog.html"> Blog </a>
            <a href="/shop.html"> Shop </a>
            <a href="/member-login.html"> Members-login </a>
        </nav>
    </div>
</header>

{% if page.banner.banner-image %}
<section class="min-h-70 bg-cover bg-center p-15p text-white" style="background-image: url('{{ page.banner.banner-image }}'); background-position:{{ page.banner.banner-position }}"> 
    <div class="max-w-screen-2xl mx-auto">
        {% if page.banner.banner-image %}
        <span> {{ page.banner.top-text }} </span>
        {% endif %}

        <h1 class="text-9xl"> {{ page.banner.big-text }} </h1>
        <p class="max-w-[300px]"> {{ page.banner.description }} </p>

        {% if page.banner.button-url %}
        <a href="{{ page.banner.button-url }}" class="border-b border-current inline-block mt-3" style="color:{{ page.banner.button-color }}"> {{ page.banner.button-text }} </a>
        {% endif %}

    </div>
</section>
{% endif %}