<!--------------------------- This is the split banner in the top of the page (for example on the bali guide itself) --------------------------->
<section class="">
    <div class="max-w-screen-2xl grid grid-cols-2 items-end gap-4">
        <div class="p-5p md:p-10p pb-0">
            <h2 class="text-6xl mb-2"> {{ page.split-banner.title }} </h2>
            <h4 class="text-md uppercase"> {{ page.split-banner.subtitle }} </h4>
            <p class="m-3 ml-0"> {{ page.split-banner.text }} </p>
            <a href="/shop.html" class="text-white uppercase bg-black border border-black px-8 py-2 hover:bg-white hover:text-black inline-block"> Buy now </a>
        </div>
        <div class="bg-cover bg-center pb-75p" style="background-image: url('{{ page.split-banner.travel-image }}');"></div>
    </div>
</section>