<!--------------------------- This is the table of content on the bali page (or whatever page you're on) --------------------------->
<section class="p-10p">
    <!------ This is our max width div ------>
    <div class="max-w-screen-2xl">
        <!------ This is grid div ------>
        <div class="grid grid-cols-2">

            <!------ This is div with the different pages displayed ------>
            <div>
                <h3 class="text-4xl uppercase">{{ page.table-title }} </h3>

                {% for item in page.chapters %}
                <div class="flex justify-between border-t-2 last:border-b-2 py-8">
                    <h4 class="m-0"> {{ item.title }} </h4>
                    <p class="m-0"> {{ item.page-numbers }} </p>
                </div>
                {% endfor %}
            </div>

            <!------ This is the list div ------>
            <div class="mx-auto">
                <h3 class="text-4xl uppercase">{{ page.list-title }} </h3>
            
                {% for item in page.list %}
                <ul class="list-disc">
                    <li> {{ item.text }} </li>
                </ul>
                {% endfor %}
    
            </div>
        </div>
    </div>
</section>