---
layout: default
seo:
  title: Travel magazine
  description: "your description goes here"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---
<!--------------------------- This is the section --------------------------->
<section>
	<h1> {{page.title}} </h1>
	<p> By {{page.author}} </p>
</section>

<!--------------------------- This is the main content section --------------------------->
<section>
	{{ content }}
</section>

<!--------------------------- This is a placeholder section to later add the related posts --------------------------->
<!-- <section class="p-8 bg-stone-200"> 
 	<p> Add related posts include here later </p>
</section> -->