---
layout: default
---
<!--------------------------- This is the section --------------------------->
<section class="p-5 border-b border-black">
  <div class="max-w-screen-2xl">
    <div class="flex justify-between text-center items-center">
      <p class="m-0"> By {{ page.author }} </p>
      <h1 class="m-0"> {{ page.title }} </h1>
      <p class="m-0"> {{ page.date | date_to_long_string}} </p>
    </div>
  </div>
</section>

<!--------------------------- This is the main content section --------------------------->
<section class="p-5p text-center">
	{{ content }}
</section>

<!--------------------------- This is a placeholder section to later add the related posts --------------------------->
<section class=""> 

</section>